
main{
    width: 100%;
    display: flex;
}



#aside {
    /* float: left; */
    background-color:#3f0e40;
    color: white;
    margin-top: -20px;
    margin-left: -8px;
    height: 620px;
    width: 20%;
}
#chat-box{
    width: 80%.
}

#aside a {
    color: #987d99;
    font-family: Arial, Helvetica, sans-serif;
}

#aside button {
    background-color: #3a79e0;
    height: 30px;
    width: 208px;
}

header {
    position: sticky;
}

header li {
    border: 0 1px;
}

.border-right {
    border-right: 1px solid black;
}